body{
    background-color: #424242;
}

header h1{
    color: #919191;
    cursor: default;
    font-size: 187.5%;
    line-height: 125%;
    text-transform: none;
    font-family:"Flexo-Regular", arial, sans-serif;
}